
.container {
 display: block;
 position: relative;
 margin: 20px 20px 20px 20px;
}
.#inputcity {
 margin: 10px 10px 10px 10px;
}
.#search {
  margin: 10px 10px 10px 10px;  
}
.#currentLocation {
   margin: 10px 10px 10px 10px;   
}
div.row {
    margin-left: 20px;
    margin-right: 20px;
}
h3 {
    display: block;
    margin-top: 60px;
    width: 100%;
    color: rgb(192 37 83);
    font-size: revert;
}
.currentWeather {
  text-align: center;
  display: block;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
  width: 100%;
  
     
}
.forecast {
    margin: o auto; 
    background-color: rgb(227, 223, 223);
    color: rgb(47, 46, 46);s
}

.row {
    text-align: center;
    padding-top: 10px;  
    box-sizing: content-box;      
}

.col-xs-5 {
    width: 20%;
    float: left;
    font-weight: 400;
}
.col-3 {
    width: 33%;
    float: center;
}
.col-2 {
    width: 50%;
    float: center;
}
.card-text {
    width:80%;
    
}